@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h3>Here we got a few more examples and data you might find useful</h3>

<h5><strong>ASP.NET Core - Beginner</strong></h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xc3Gl4rnWV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5><strong>Docker Tutorial</strong></h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/pGYAg7TMmp0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5><strong>How to guide to ASP.NET, MVC, Core C#, with Docker</strong></h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9DXD5Rv4GZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5><strong>Build, Debug, Deploy ASP.NET Core Apps with Docker</strong></h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vQxIt8gp7nY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
