@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <h3>One Microsoft Way</h3>
    <h3>Redmond, WA 98052-6399</h3>
    <h3><abbr title="Phone">P:</abbr>
    425.555.0100</h3>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h3>If you want more:</h3>

<div class="col-sm-6" style="max-height:200px;">
<h4>Take a look at Docker twitter!</h4>
<a class="twitter-timeline" data-height="670" data-theme="light" href="https://twitter.com/Docker?ref_src=twsrc%5Etfw">
Tweets by Docker</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="col-sm-6">
<h4>Take a look at .NET twitter!</h4>
<a class="twitter-timeline" data-height="670" data-theme="dark" href="https://twitter.com/dotnet?ref_src=twsrc%5Etfw">
Tweets by dotnet</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
